profiles {

  scratchy {
    process {
      withLabel: scratchyScratch {
        scratch=true
      }
    }
  }

  container {
    process {
      withName: testProcess {
        container="$baseDir/containers/centos-centos7.simg"
      }
    }
  }

  cluster {
    process {
      withName: testProcess {
        executor="pbs"
      }
    }
  }

  singularity {
    singularity.enabled = true
    singularity.cacheDir = "/data/tmp/mmonfort/.singularity"
    singularity.autoMounts = true
  }
}