params.tracedir = "nf-metrics"

/* The following blocks prevent the test workflow from
** running when scratchy + cluster profiles are activated 
*/

/* It also fails running with -with-trace */

// trace {
//   enabled = true
//   file = "${params.tracedir}/trace.txt"
// }


profiles {

  cluster {
    process {
      withName: testProcess {
        executor="pbs"
      }
    }
  }

  scratchy {
    process {
      withLabel: scratchyScratch {
        scratch=true
      }
    }
  }

  container {
    process {
      withName: testProcess {
        container="$baseDir/containers/centos-centos7.simg"
      }
    }
  }

  singularity {
    singularity.enabled = true
    singularity.cacheDir = "/data/tmp/mmonfort/.singularity"
    singularity.autoMounts = true
  }
}